/*
Purple: rgb(102,104,142);
Middle purple: rgb(182,114,151);
Gold: rgb(245,193,116);
Teal: #97cac7;
*/

body {
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 20px;
  color: #101010;
  background-color: #fff;
  line-height: 1.4;
  padding-bottom: 50px;
}

a {
  color: #3092d2;
}

img {
  max-width: 100%;
}

h1, h2 {
  display: inline-block;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 24px;
}

ul {
  margin-bottom: 1.5em;
}

li {
  margin-top: 5px;
  margin-bottom: 20px;
}

ul.compact li {
  margin-bottom: 5px;
}

header img {
  margin: 4rem auto 2rem auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav .button {
  padding: 10px 15px;
}

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: none;
}

.gradient-bottom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d66544+0,8e3c65+100 */
  background: #d66544; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #d66544 0%, #8e3c65 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #d66544 0%,#8e3c65 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #d66544 0%,#8e3c65 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d66544', endColorstr='#8e3c65',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  position: relative;
}

input {
  padding: 10px 15px;
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 20px;
  width: 17rem;
}

input[type='text'], input[type='email'] {
  text-align: center;
  border: 1px solid #98d1cd;
}

input[type='submit'] {
  color: #fff;
  background-color: rgb(102,104,142);
  border: none;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
}

.address {
  color: #666;
  font-family: monospace;
}

input.address {
  color: #333;
  font-family: monospace;
  font-size: 18px;
  border: 1px solid #98d1cd;
}

input.error {
  border: solid 3px red;
}

.center {
    text-align: center;
}

.left { text-align: left; }
.right { text-align: right; }

.hide {
  display: none;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.pad { padding-top: 25px; padding-bottom: 25px; }
.vspace { margin-top: 25px; margin-bottom: 25px; }
.vspace-sm { margin-top: 10px; margin-bottom: 10px; }
.vspace-lg { margin-top: 50px; margin-bottom: 50px; }
.vspace-giant { margin-top: 100px; margin-bottom: 100px; }

img.pad {
    width: 500px;
    max-width: 100%;
    margin: 4rem;
    display: block;
}

.text-dim {
  color: #b2b2b2;
}

.text-emphasize {
  font-size: 32px;
}

.text-giant {
  font-size: 64px;
}

.button {
  padding: 10px 25px;
  display: inline-block;
  min-width: 8em;
  border: solid 1px goldenrod;
  color: goldenrod;
  text-decoration: none;
  margin: 10px;
  box-shadow: none;
  border-radius: 0;
}

.button.special {
  border-color: #97cac7;
  color: #97cac7;
  font-weight: bold;
  border-width: 2px;
}

.button.active {
  border-color: #ccc;
  color: #ccc;
}

.special-block {
  background-color: #97cac7;
  padding: 50px;
}

section {
  margin-top: 10px;
  max-height: 100vh;
  max-width: 780px;
  display: inline-block;
  padding: 0 1rem;
}

section:last-child {
  margin-bottom: 100px;
}

.box {
  border: solid 1px rgb(102,104,142);
}

.button.dark {
    width: 19rem;
    border: none;
    color: white;
    background-color: rgb(102,104,142);
}

.text-dark {
    color: rgb(102,104,142);
}

.button.small {
  min-width: auto;
}

h2.button.dark {
    border: none;
    width: 18rem;
}

.title {
  font-weight: 300;
  text-align: center;
}

.challenge li {
    margin-bottom: 1rem;
}

.challenge li:last-child {
    margin-bottom: 0;
}

.challenge li span {
    white-space: nowrap;
}

.challenge li a {
    display: inline-block;
}

.compress > p {
  margin: 2px;
}

.progress-bar-container {
  height: 50px;
}

.progress-bar, .progress-bar-container > * {
  height: 100%;
}

.progress-bar-step {
  display: inline-block;
  height: 100%;
  background-color: #ddd;
}

.progress-bar-step.active {
  background-color: #98d1cd;
}

.progress-bar-text {
  position: absolute;
  right: 10px;
  top: 10px;
}

.paragraphs p {
  text-align: left;
}

.bio-pic {
  float: left;
  margin-top: 1em;
  margin-right: 1em;
  width: 60%;
  max-width: 425px;
}

@media screen and (max-width: 700px ) {
    nav .button {
        border: none;
        min-width: unset;
        word-spacing: 500px;;
        height: 2.25rem;
        text-align: center;
        display: table;
        width: 100px;
        padding: 0.5rem;
        margin: 0;
        border-bottom: 2px solid transparent;
    }

    nav .button span {
        display: table-cell;
        vertical-align: middle;
    }

    nav .button.active {
        border-bottom: 2px solid goldenrod;
    }

    nav {
        border-bottom: 1px solid goldenrod;
        align-items: flex-end;
    }

    header img {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px ) {

    .button {
      font-size: 16px;
    }

    .dark.button {
        font-size: 24px;
    }

    .no-mobile {
      display: none;
    }
}

.rock:hover {
  animation: rock  ease-in 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: rock  ease-in 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: rock  ease-in 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: rock  ease-in 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: rock  ease-in 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes rockLight {
  0% {
    transform:  rotate(0deg) ;
  }
  29% {
    transform:  rotate(-5deg) ;
  }
  69% {
    transform:  rotate(5deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@-moz-keyframes rockLight {
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  29% {
    -moz-transform:  rotate(-5deg) ;
  }
  69% {
    -moz-transform:  rotate(5deg) ;
  }
  100% {
    -moz-transform:  rotate(0deg) ;
  }
}

@-webkit-keyframes rockLight  {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  29% {
    -webkit-transform:  rotate(-5deg) ;
  }
  69% {
    -webkit-transform:  rotate(5deg) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) ;
  }
}

@-o-keyframes rockLight  {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  29% {
    -o-transform:  rotate(-5deg) ;
  }
  69% {
    -o-transform:  rotate(5deg) ;
  }
  100% {
    -o-transform:  rotate(0deg) ;
  }
}

@-ms-keyframes rockLight  {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  29% {
    -ms-transform:  rotate(-5deg) ;
  }
  69% {
    -ms-transform:  rotate(5deg) ;
  }
  100% {
    -ms-transform:  rotate(0deg) ;
  }
}

.rock {
  cursor: default;
  animation: rockLight  ease-in 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: rockLight  ease-in 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: rockLight  ease-in 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: rockLight  ease-in 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: rockLight  ease-in 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  transition: margin 1s;
}

@keyframes rock {
  0% {
    transform:  rotate(0deg) ;
  }
  29% {
    transform:  rotate(-20deg) translate(0,5px);
  }
  69% {
    transform:  rotate(20deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@-moz-keyframes rock {
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  29% {
    -moz-transform:  rotate(-20deg) translate(0,5px);
  }
  69% {
    -moz-transform:  rotate(20deg) ;
  }
  100% {
    -moz-transform:  rotate(0deg) ;
  }
}

@-webkit-keyframes rock  {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  29% {
    -webkit-transform:  rotate(-20deg) translate(0,5px);
  }
  69% {
    -webkit-transform:  rotate(20deg) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) ;
  }
}

@-o-keyframes rock  {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  29% {
    -o-transform:  rotate(-20deg) translate(0,5px);
  }
  69% {
    -o-transform:  rotate(20deg) ;
  }
  100% {
    -o-transform:  rotate(0deg) ;
  }
}

@-ms-keyframes rock  {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  29% {
    -ms-transform:  rotate(-20deg)  translate(0,5px);
  }
  69% {
    -ms-transform:  rotate(20deg) ;
  }
  100% {
    -ms-transform:  rotate(0deg) ;
  }
}

