body {
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 18px;
  color: #101010;
  background-color: #fff;
  line-height: 1.4;
}

h1, h2 {
  display: inline-block;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  font-weight: 300;
  font-size: 24px;
}

ul {
  margin-bottom: 1.5em;
}

li {
  margin-top: 5px;
}

header img {
  max-width: 100%;
  margin: 2rem auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: none;
}

input {
  padding: 10px 15px;
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 24px;
  width: 17rem;
}

input[type='email'] {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid goldenrod;
}

input[type='submit'] {
  color: #fff;
  background-color: rgb(102,104,142);
  border: none;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
}

input.address {
  color: #333;
  font-family: monospace;
  font-size: 18px;
}

input.error {
  border: solid 3px red;
}

.center {
    text-align: center;
}

.left { text-align: left; }
.right { text-align: right; }

.hide {
  display: none;
}

.vspace { margin-top: 25px; margin-bottom: 25px; }
.pad { padding: 25px; }

.text-dim {
  color: #b2b2b2;
}

.text-giant {
  font-size: 64px;
}

.button {
  padding: 10px 15px;
  display: inline-block;
  min-width: 8em;
  border: solid 1px goldenrod;
  color: goldenrod;
  text-decoration: none;
  margin: 10px;
  box-shadow: none;
  border-radius: 0;
}

@media screen and ( max-width: 800px ) {
  .button {
    font-size: 16px;
  }
}

section {
  margin-top: 10px;
  max-height: 100vh;
  max-width: 780px;
  display: inline-block;
  padding: 0 1rem;
}

.dark {
  color: #eee;
  background-color: rgb(82,84,102);
}

.button.dark {
    width: 19rem;
}

@media screen and (max-width: 600px ) {
    nav .button {
        border: none;
        min-width: unset;
        word-spacing: 500px;;
        height: 2.25rem;
        text-align: center;
        display: table;
        width: 100px;
        padding: 0;
        margin: 0.5rem 0;
        font-size: 1rem;
    }

    nav .button span {
        display: table-cell;
        vertical-align: middle;
    }

    nav {
        border-bottom: 1px solid goldenrod;
    }

    header img {
        margin-bottom: 1rem;
    }

}

h2.intro {
    font-size: 1.2rem;
    margin: 0 0.5rem;
    margin-bottom: 1.5rem;
}
