/*
Purple: rgb(102,104,142);
Middle purple: rgb(182,114,151);
Gold: rgb(245,193,116);
*/

body {
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 20px;
  color: #101010;
  background-color: #fff;
  line-height: 1.4;
  padding-bottom: 50px;
}

a {
  color: #3092d2;
}

img {
  max-width: 100%;
}

h1, h2 {
  display: inline-block;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 24px;
}

ul {
  margin-bottom: 1.5em;
}

li {
  margin-top: 5px;
  margin-bottom: 20px;
}

header img {
  margin: 4rem auto 2rem auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav .button {
  padding: 10px 15px;
}

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: none;
}

input {
  padding: 10px 15px;
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 20px;
  width: 17rem;
}

input[type='email'] {
  text-align: center;
  border: 1px solid #98d1cd;
}

input[type='submit'] {
  color: #fff;
  background-color: rgb(102,104,142);
  border: none;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
}

.address {
  color: #666;
  font-family: monospace;
}

input.address {
  color: #333;
  font-family: monospace;
  font-size: 18px;
  border: 1px solid #98d1cd;
}

input.error {
  border: solid 3px red;
}

.center {
    text-align: center;
}

.left { text-align: left; }
.right { text-align: right; }

.hide {
  display: none;
}

.relative {
  position: relative;
}

.pad { padding-top: 25px; padding-bottom: 25px; }
.vspace { margin-top: 25px; margin-bottom: 25px; }
.vspace-lg { margin-top: 50px; margin-bottom: 50px; }
.vspace-giant { margin-top: 100px; margin-bottom: 100px; }

img.pad {
    width: 500px;
    max-width: 100%;
    margin: 4rem;
    display: block;
}

.text-dim {
  color: #b2b2b2;
}

.text-giant {
  font-size: 64px;
}

.button {
  padding: 10px 25px;
  display: inline-block;
  min-width: 8em;
  border: solid 1px goldenrod;
  color: goldenrod;
  text-decoration: none;
  margin: 10px;
  box-shadow: none;
  border-radius: 0;
}

.button.active {
  border-color: #ccc;
  color: #ccc;
}

section {
  margin-top: 10px;
  max-height: 100vh;
  max-width: 780px;
  display: inline-block;
  padding: 0 1rem;
}

section:last-child {
  margin-bottom: 100px;
}

.box {
  border: solid 1px rgb(102,104,142);
}

.button.dark {
    width: 19rem;
    border: none;
    color: white;
    background-color: rgb(102,104,142);
}

.button.small {
  min-width: auto;
}

h2.button.dark {
    border: none;
    width: 18rem;
}

.home h1 {
  font-weight: 300;
  text-align: center;
}

.challenge li {
    margin-bottom: 1rem;
}

.challenge li:last-child {
    margin-bottom: 0;
}

.challenge li span {
    white-space: nowrap;
}

.challenge li a {
    display: inline-block;
}

.compress > p {
  margin: 2px;
}

.progress-bar-container {
  height: 50px;
}

.progress-bar, .progress-bar-container > * {
  height: 100%;
}

.progress-bar-step {
  display: inline-block;
  height: 100%;
  background-color: #ddd;
}

.progress-bar-step.active {
  background-color: #98d1cd;
}

.progress-bar-text {
  position: absolute;
  right: 10px;
  top: 10px;
}

.paragraphs p {
  text-align: left;
}

.bio-pic {
  float: left;
  margin-top: 1em;
  margin-right: 1em;
  width: 60%;
  max-width: 425px;
}

@media screen and (max-width: 700px ) {
    nav .button {
        border: none;
        min-width: unset;
        word-spacing: 500px;;
        height: 2.25rem;
        text-align: center;
        display: table;
        width: 100px;
        padding: 0.5rem;
        margin: 0;
        border-bottom: 2px solid transparent;
    }

    nav .button span {
        display: table-cell;
        vertical-align: middle;
    }

    nav .button.active {
        border-bottom: 2px solid goldenrod;
    }

    nav {
        border-bottom: 1px solid goldenrod;
        align-items: flex-end;
    }

    header img {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px ) {

    .button {
      font-size: 16px;
    }

    .dark.button {
        font-size: 24px;
    }

    .no-mobile {
      display: none;
    }
}
